.pageTitleWrapper {
  padding: 0 12px;
  width: 95%;
}

@media only screen and (max-width: 1240px) {
  .quizCardWrapper {
    width: 32%;
  }

  .pageTitleWrapper {
    width: 98.5%;
  }
}

@media only screen and (max-width: 850px) {
  .quizCardWrapper {
    width: 42%;
  }
}

@media only screen and (max-width: 640px) {
  .quizCardWrapper {
    width: 60%;
  }
}

.quizCardWrapper>div {
  height: inherit;
}


.notingHere {
  margin: 10px auto;
}

.deleteButton {
  background-color: #c10606 !important;
}

.publishQuiz {
  background-color: #2e7d32 !important;
}

.sort {
  max-width: 190px;
}

.welcomeHeader {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: var(--qm-primary);
}

.secondaryText {
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 0;
  max-width: 800px;
  text-align: center;
}

.secondaryText2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--gray-dark);
}