.isExpanded {
  position: fixed;
  max-height: 90vh;
  overflow: auto;
  width: auto;
  transform: translateX(-50%);
  left: 50%;
}

.gridContainer {
  padding: 20px;
  background-color: #fee;
  transition: all 200ms ease-in-out;
  max-width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}

.gridButtons .gridCol {
  min-width: 100px;
  border: 1px dashed lightblue;
  padding: 5px;
}

.gridCol button {
  width: 100%;
  margin: 5px 0 !important;
}

.gridCol h4 {
  text-align: center;
  width: 100%;
  border-bottom: 1px dashed lightslategray;
  padding-bottom: 5px;
}
