.App-logo {
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.App {
  padding: 0 5vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s ease-out;
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(40deg);
  }
  10% {
    transform: rotate(20deg);
  }
  15% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.container-md {
  width: 40%;
  min-width: 500px;
}

.container-md .input {
  width: 100%;
}
