.ui.card {
  width: 190px !important;
  height: 190px;
  padding: 20px !important;
  background-color: var(--card-background) !important;
  margin: 0 20px 20px 0;
}

.ui.card .title {
  font-size: 20px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.ui.card .details {
  margin-top: 10px;
  font-size: 16px;
  color: var(--info-text-color);
}

.ui.card:hover .title,
.ui.card:hover .details {
  opacity: 0;
  position: absolute;
}

.ui.card:hover {
  background-color: var(--card-hover-bg) !important;
  color: var(--card-hover-color);
}

.ui.card .action {
  opacity: 0;
  position: absolute;
  font-size: 20px;
  margin-top: 50px;
  font-family: var(--comfortaa);
  font-weight: var(--semi-bold);
  font-size: 26px;
}

.ui.card:hover .action {
  opacity: 1;
}

.ui.card .badge {
  background-color: var(--badge-color);
  color: var(--card-hover-color);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0 5px;
  font-weight: bold;
  width: fit-content;
  margin-top: 10px;
  font-size: 14px;
}
