body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.flexCol {
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

.alignCenter {
  align-items: center;
}

.alignSelfEnd {
  align-self: flex-end;
}

.alignSelfStart {
  align-self: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.fullWidth {
  width: 100%;
}

h4 {
  margin: 10px 0 !important;
}

.ui.input {
  margin: 10px 0;
  max-width: 100%;
  overflow: hidden;
}

.ui.input input {
  width: auto !important;
}
