@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Ubuntu&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-family: var(--body-font), sans-serif;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.flexCol {
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignSelfEnd {
  align-self: flex-end;
}

.alignSelfStart {
  align-self: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.fullWidth {
  width: 100%;
}

h4 {
  margin: 10px 0 !important;
}

.ui.input {
  margin: 10px 0;
  max-width: 100%;
  overflow: hidden;
}

.ui.input input {
  width: auto !important;
}

fieldset {
  border: 1px solid var(--border-gray);
  padding: 15px 20px;
  border-radius: 10px;
}

legend {
  background-color: var(--legend-bg);
  color: var(--legend-color);
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 5px;
  letter-spacing: 1.2px;
  font-size: 15px;
}

.absolute {
  position: absolute !important;
}

.bold {
  font-weight: bold;
}

.textAlignCenter {
  text-align: center;
}

li.task-list-item {
  list-style-type: none;
}

ul.contains-task-list {
  padding-left: 15px;
}

.react-markdown td,
.react-markdown th {
  border: 1px solid var(--gray-dark);
  padding: 2px 8px;
}

.react-markdown th {
  background-color: var(--gray-dark);
  color: white;
  border: 1px solid var(--border-gray);
}

.react-markdown tr:nth-last-of-type(2n) {
  background-color: var(--option-background);
}

.react-markdown tr:nth-last-of-type(2n + 1) {
  background-color: white;
}

.react-markdown tr {
  color: black;
}

.react-markdown table {
  border-collapse: collapse;
}

.react-markdown img {
  max-width: 100%;
  max-height: 400px;
}
