.react-markdown {
  display: inline-block;
  width: 100%;
}

.react-markdown p {
  margin: 0;
}

.react-markdown td,
.react-markdown th {
  border: 1px solid var(--gray-dark);
  padding: 2px 8px;
}

.react-markdown th {
  background-color: var(--gray-dark);
  color: white;
  border: 1px solid var(--border-gray);
}

.react-markdown tr:nth-last-of-type(2n) {
  background-color: var(--option-background);
}

.react-markdown tr:nth-last-of-type(2n + 1) {
  background-color: white;
}

.react-markdown tr {
  color: black;
}

.react-markdown table {
  border-collapse: collapse;
}

.react-markdown img {
  max-width: 100%;
  max-height: 400px;
}

.react-markdown code {
  background-color: var(--card-hover-bg);
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.react-markdown pre code {
  background-color: var(--gray-dark);
  padding: 10px;
  width: 100%;
  display: block;
}