:root {
  /* colors */
  --border-gray: #ccc;
  --option-background: #ededff;
  --checked-color: #ffa;
  --correct-color: #afa;
  --incorrect-color: #faa;
  --question-container-color: #cef;
  --question-grid-background: #fee;
  --dashed-border-color: #add8e6;
  --shadow-color-light: rgba(0, 0, 0, 0.3);
  --gray-dark: #455;
  --divider-color: rgb(126, 125, 125, 0.5);
  --score-header-bg: #77f;
  --score-header-color: white;
  --score-bg: #eef;
  --score-border-color: #aaf;
  --score-active-color: #cfc;
  --card-background: #efe;
  --info-text-color: rgba(0, 0, 0, 0.67);
  --card-hover-bg: #557;
  --card-hover-color: white;
  --badge-color: #772;
  --legend-bg: #65e;
  --legend-color: #fef;
  --shadow-color-dark: rgba(0, 0, 0, 0.5);
  --qm-card-bg: #f5f6e6;
  --qm-card-border: #adc3c7;
  --qm-primary: #014751;
  --input-bg: #e4fafc;
  --checkbox-bg: #c4fceb;
  --default-button-bg: #f1d600;
  --default-button-bg-hover: #ffe30c;
  --primary-button-bg-hover: #016c7b;
  --primary-card-bg: #f5f6e6;
  --secondary-card-bg: #afd0d4;
  --off-white: #f3f3f3;
  --quiz-card-bg-1: #009688;
  --quiz-card-bg-2: #2196f3;
  --quiz-card-bg-3: #e91e63;
  --quiz-card-bg-4: #4caf50;
  --quiz-card-bg-5: #673ab7;

  /* fonts */
  --comfortaa: 'Comfortaa';
  --semi-bold: 600;
  --body-font: 'Ubuntu';
}
