.categoryGridContainer {
  container-type: inline-size;
  container-name: panel;
}

.categoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(33% - 40px));
  gap: 20px;
  justify-content: center;
}

@container panel (max-width: 980px) {
  .categoryGrid {
    grid-template-columns: repeat(auto-fit, calc(50% - 20px));
  }
}

@container panel (max-width: 640px) {
  .categoryGrid {
    grid-template-columns: 1fr;
  }
}

.scoreAndTimer {
  width: 320px;
}

.team.currentTeam {
  background: rgb(34, 139, 230);
  flex-wrap: nowrap;
}

.team.currentTeam div {
  color: white;
}

.team {
  background: rgba(134, 142, 150, 0.1);
}

.teamWithoutPlayer {
  padding: 3px 15px 3px 3px;
  border-radius: 58px;
}