.questionText {
  font-size: 22px;
  font-family: var(--comfortaa);
  font-weight: var(--semi-bold);
  color: var(--gray-dark);
  margin: 10px 5px;
}

.container {
  width: 450px;
  padding: 10px;
  margin: 10px;
  background-color: var(--question-container-color);
  border-radius: 10px;
  box-shadow: 0 0 2px -1px var(--shadow-color-light);
  display: flex;
  flex-direction: column;
}

.isAttempted[class*='checkbox'].correct label {
  background-color: var(--correct-color) !important;
  opacity: 1 !important;
}

.isAttempted[class*='checkbox'].inCorrect label {
  background-color: var(--incorrect-color) !important;
  opacity: 1 !important;
}
